
@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 900px;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.with-margin {
    margin-top: 30px; 
    margin-bottom: 30px; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-center {
    display: flex;
    justify-content: center;
}

.card {
    width: 90%;
    max-width: 90%; 
    border: 1px solid #4a4a4a;
}

.unique {
    width: 800px;
}

.card-img {
    width: 100%;
    height: 600px; /* Hauteur fixe de la carte, ajustez selon vos besoins */
    object-fit: contain; /* Ajuste l'image pour s'adapter entièrement à l'intérieur de la carte */
    border-bottom: 1px solid #4a4a4a;
}


.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date {
    margin-left: auto; 
}

/* Gestion des likes */
.image-like {
    max-width: 30px;
    max-height: 30px;
}

.like-button {
    border: none;
    background: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

.like-button:focus {
    outline: none; /* Supprime l'effet de focus par défaut sur le clic */
}

.comment-likes {
    display: flex;
    align-items: center;
}

.image-like-commentaire {
    max-width: 15px;
    max-height: 15px;
}


/* Style pour l'affichage des commentaires */
.comments-section {
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 7px;
}

.comment {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 15px;
    margin-top: 18px;
}

.comment-text {
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 15px;
}

.comment-user-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-size: 12px;
    font-weight: bold;
    margin-right: auto; /* Espace entre le nom d'utilisateur et la date */
}

.comment-date, 
.comment-child-date {
    font-size: 12px;
    color: #888;
}

.comment-child-date {
    margin-right: 8px;
}

.aucun-com {
    margin-left: 15px;
}

.comment-user {
    font-size: 12px;
    font-size: bold;
}

/* Bouton 'Ajouter un commentaire' */
.comment-button {
    float: right;
    padding: 6px 12px;
    border: 1px solid #abababaf;
    border-radius: 4px;
    background-color: #ebebeb;
    color: #333;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.comment-button:focus,
.rep-comment-button:focus,
.rep-rep-comment-button:focus,
.suppr-button:focus,
.modif-button:focus,
.suppr-comment-button:focus,
.modif-comment-button:focus,
.modif-rep-comment-button:focus {
    outline: none; /* Supprime l'effet de focus par défaut sur le clic */
}

.comment-button:hover {
    background-color: #d3d3d3;
    border-color: #bbbbbbcf;
    color: #222;
}


/* Style pour le formulaire de d'ajout de commentaires */
.comment-form {
    margin-top: 15px;
    margin-left: 15px;    
    
}

/* Style pour la zone de texte */
.comment-form textarea, 
.rep-comment-form textarea,
.rep-rep-comment-form textarea,
.modif-comment-form textarea {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical; 
    box-sizing: border-box;
    font-size: 14px;
}

/* Bouton des formulaire */
.comment-form input[type="submit"],
.rep-comment-form input[type="submit"],
.rep-rep-comment-form input[type="submit"],
.modif-comment-form input[type="submit"] {
    display: block;
    width: 50%;
    padding: 6px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2f77ea; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;   
}

.comment-form input[type="submit"]:hover, 
.rep-comment-form input[type="submit"]:hover,
.rep-rep-comment-form input[type="submit"]:hover,
.modif-comment-form input[type="submit"]:hover {
    background-color: #5b92eb; /* Couleur de fond modifiée au survol */
}

.rep-comment-form,
.rep-rep-comment-form {
    margin-top: 5px;
    margin-bottom: 7px;
}

.rep-comment-form textarea,
.rep-rep-comment-form textarea,
.modif-comment-form textarea {
    height: 40px; /* ajustez la hauteur souhaitée */
    font-size: 13px; /* ajustez la taille de la police */
}

.rep-comment-form input[type="submit"],
.rep-rep-comment-form input[type="submit"],
.modif-comment-form input[type="submit"] {
    font-size: 12px; 
    margin-top: 1px;
}

.boutonAjouter,
.boutonModifier {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

.comment-child {
    margin-left: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.intern-comment {
    margin-left: 6px;
}

.children-comments {
    gap: 5px;
    display: flex;
    flex-direction: column;

}

.rep-comment-button,
.rep-rep-comment-button {
    font-size: 14px;
    margin-left: 10px;
    border: none; 
    color: #007afc;
    background-color: transparent; 
    cursor: pointer; 
}

/* Bouton de modification et suppression */

.image-suppr,
.image-modif {
    width: 20px;
}

.suppr-button,
.modif-button,
.suppr-comment-button,
.modif-comment-button,
.modif-rep-comment-button {
    background-color: transparent; 
    border: none;

}

.des-supp-modif,
.comment-user-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    display: flex;
    gap: 2px; 
    margin-right: 10px;
}

.image-comment-suppr,
.image-comment-modif {
    width: 15px;
}

.image-comment-suppr,
.image-suppr {
    margin-bottom: 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%
}

.center h2{
    display: flex;
    justify-content: center;
}

