.profile-section {
    text-align: center;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.profile-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-right {
    text-align: left;
}

.profile-left {
    margin-right: 20px; /* Espacement entre la photo et les détails */
}

/* Style pour l'image du profil */
.profile-picture {
    max-height: 150px;
    width: auto; /* Redimensionnement automatique en largeur */
}
 
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    width: calc(26% - 20px); /* Pour quatre images par ligne */
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    height: 150px; /* Hauteur fixe pour chaque cadre d'image */
    overflow: hidden; /* Cache le contenu supplémentaire des images trop grandes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-width: 90%; 
    max-height: 100%; 
    min-width: 90%;
    min-height: 100%;
    border: 2px solid black;
    object-fit: contain; 
}

hr {
    border: none;
    border-top: 1px solid rgb(62, 62, 62); /* Définition de la bordure supérieure */
    margin: 14px 0; /* Ajustement de la marge */
}

.profile-description p {
    margin-bottom: 3px;
}
