{% extends 'parent.html.twig' %}
{%block  javascripts %}
<script src="{{asset('js/edit_profil.js')}}"></script>
{% endblock %}
{%block body %}

<div class='modal fade' id='editRuche' tabindex='-1' aria-labelledby='' aria-hidden='true'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id=''>Modifier votre profil</h5>
				<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
			</div>

			<div class='modal-body'>
				<input id='inputEditId' type='hidden'>
				<div class='mb-3'>
					<label for='inputEditusername' class='form-label'>Nouveau pseudo</label>
					<input id='inputEditusername' class='form-control' type='text'>
				</div>
				<label for="newPassword">Nouveau mot de passe :</label>
				<input type="password" id="newPassword" name="newPassword" required>

				<button type="button" onclick="changePassword()">Changer le mot de passe </button>

			</div>
			<div class='modal-footer'>
				<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Annuler</button>
				<button type='button' class='btn btn-primary' id='validRucheEdition'>Confirmer</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
