{% extends 'parent.html.twig' %}

{% block titre %}
	{{ parent() }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="container-form-connexion">
		<div class="container-md">
			<div class="row">
				<form method='POST' action='/login' class="col-lg-3 col-12 mx-auto form-connexion pt-4 mb-4">

					<div class='form-group'>
						<input type='text' class='form-control' id='identifiant' name='username' placeholder='Identifiant' required>
					</div>
					<div class='form-group mt-3'>
						<input type='password' class='form-control' id='password' name='password' placeholder='Mot de passe' required>
					</div>
					{% if error is defined %}
						<a style="color:red; display:flex; justify-content:center;">
							{{ error }}
						</a>
					{% endif %}
					<button type='submit' class='btn btn-success mt-4 w-100'>Valider</button>
				</form>
			</div>
			<div class="row">
				<p class="col-12 text-center">Pas de compte ? <a href="/register">Inscrivez-vous</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
