{% extends 'parent.html.twig' %}

{% block body %}

	{% include 'navigation.html.twig' with {'page': 'utilisateurs'} %}

	<div class='container mt-3'>
		<div class='tab-content border border-top-0 p-3 bg-white' id='content'>
			<table class='table table-hover table-striped table-borderless'>
				<thead>
					<tr>
						<th scope='col'>
							Id
						</th>
						<th scope='col'>
							Identifiant
						</th>
						<th scope='col'>
							Role
						</th>
						<th scope='col'>
							Nombre d'incidents
						</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td class='align-middle' scope='row'>
								{{ user.id }}
							</td>
							<td class='align-middle' scope='row'>
								{{ user.username }}
							</td>
							<td class='align-middle' scope='row'>
								{% if 'ROLE_ADMIN' in user.roles %}
									Administrateur
								{% else %}
									Membre
								{% endif %}
							</td>
							<td class='align-middle' scope='row'>
								{{ user.incidents|length }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
